<div class="container">
  <div class="top"></div>
  <div class="bottom"></div>
  <form
    [formGroup]="loginForm"
    class="center"
    ngNativeValidate
    (ngSubmit)="handleSubmit()"
  >
    <h2>Sign In</h2>
    <div style="font-size: small; color: red; margin-top: 10px">
      {{ error }}
    </div>
    <div *ngIf="m.email.touched && m.email.invalid" class="error">
      Enter valid email
    </div>
    <input type="email" placeholder="email" required formControlName="email" />
    <div *ngIf="m.password.touched && m.password.invalid" class="error">
      password must have min 8 character, 1 upper case , 1 special character, 1
      number
    </div>
    <input
      type="password"
      placeholder="password"
      required
      formControlName="password"
    />
    <a routerLink="/signup" style="text-decoration: none"
      >Don't have an account ?</a
    >
    <button
      class="button"
      type="submit"
      [ngStyle]="{ 'margin-left': mousePosition }"
      (mouseover)="handleButtonMove($event)"
    >
      Submit
    </button>
  </form>
</div>
